{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "standard-with-typescript",
    "standard-jsx"
  ],
  "ignorePatterns": [
    "dist"
  ],
  "rules": {
    "curly": [
      "error",
      "all"
    ],
    "brace-style": [
      "error",
      "1tbs"
    ],
    "func-style": [
      2,
      "declaration"
    ],
    "import/no-default-export": "error"
  },
  "overrides": [
    {
      "files": [
        "adapters/src/*.ts"
      ],
      "rules": {
        "import/no-default-export": "off",
        "import/prefer-default-export": "error"
      }
    }
  ]
}
